<f:layout name="Default" />

<f:section name="Title">Edit domain "{domain.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{domain}" name="domain">
		<ol>
			<li>
				<label for="domainName">Domain name</label>
				<f:form.textfield property="domainName" id="domainName" />
			</li>
		
			<li>
				<label for="status">Status</label>
				<f:form.textfield property="status" id="status" />
			</li>
		
			<li>
				<label for="lastExecution">Last execution</label>
				<f:form.textfield type="datetime" value="{domain.lastExecution -> f:format.date(format: 'Y-m-d\TH:i:sP')}" property="lastExecution" id="lastExecution" />
			</li>
		
			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>